#! /bin/bash

# This script is for installing additional PHP extensions for the PHP 7.0 container. See https://hub.docker.com/_/php for more
# details (Search on page for "How to install more PHP extensions")
