# Ignore configuration files
.env
*.env
!*.sample.env
workspace.json

# Keep data folders in the repository, but not the contents
**/data/*
!**/data/.gitkeep

# Ignore all services unless specifically allowlisted
services/*
# BEGIN allowlisting services
!services/php54
!services/php55
!services/php56
!services/php57
!services/php70
!services/php71
!services/php72
!services/php73
!services/php74
!services/php80
!services/php81
!services/elasticsearch7142
!services/mongo50
!services/redis62
!services/phpmyadmin
!services/rabbitmq
!services/dnsmasq
!services/mariadb107
!services/mariadb106
!services/mariadb105
!services/mariadb104
!services/nginxphp
!services/mysql57
!services/mysql80
!services/ruby30
!services/nginx
